body, html { 
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper { 
    flex: 1 0 auto;
}

footer {
    background-color: #949494;
    flex-shrink: 0;
    color: black;
    text-align: center;

}

.navbar { 
    background-color: #949494;
}

.navbar-light .navbar-nav .nav-link { 
    color: black;
}

.active { 
    text-decoration: underline;
}

.nav-link:hover { 
    text-decoration: underline;
}



/*Home page*/

.home-img { 
    background-image: url(../images/portfolio\ home\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 91.5vh;
}

.home-img h1,p{ 
    color: white;
}

.home  {
    padding: 20px;
    position: absolute;
    top: 150px; left: 60px;
}

/*About page*/
.about { 
    padding: 10px;
}

.about h1 {
    margin-top: 10px;
    margin-left: 35px;
    font-family: 'Merriweather', serif;
}

.about p {
    color: black;
    margin: 35px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;    
}


.about img { 
    width: 100%;
    margin-top: 85px;    
} 

.profile-img { 
    width: 30%;
    margin-left: 120px;
}

.profile-img img { 
    border-radius: 45%;}

/*portfolio page*/

.portfolio-img { 
    background-image: url(../images/portfolio\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 91.5vh;
    background-position-x: center;
}

.portfolio-img h1 { 
    font-family: 'Merriweather', serif;
}

.portfolio-links a { 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

.my-work { 
    position:absolute;
    top: 350px; left: 60px;
}

.my-work h1 { 
    font-size: 3.3em;
}



/*Contact page*/

.contact-img { 
    background-image: url(../images/portfolio\ contact\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contact-spesific { 
    position: absolute;
    top: 350px; left: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-spesific > * { 
    flex: 1;
    display: flex;
    flex-direction: column;
}


.form-error { 
    color: red;
}

.contact {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


input, textarea { 
    border: 2px solid;
    border-radius: 7px;
    padding: 4px;
    margin: 10px 10px 10px 0px;
    width: 600px;
}

textarea {
    height: 75%;
    min-height: 100px;
}

.cta-contact {
    width: 100px;
    margin-right: 600px;
    margin-bottom: 30px
}

.contact-h1 {
    position: absolute;
    top: 100px; left: 500px;
    font-size: 3.5em;
}



/*Media*/

@media (min-width:500px) { 
    .home-img {
        width: 100%;
    }

    .home  { 
        position: absolute;
        top: 250px; left: 70px;
    } 

    .portfolio-img { 
        width: 100%;
    }

    

    .profile-img { 
        width: 30%;
        margin-left: 170px;
    }
}

@media (min-width:600px) { 
   .my-work { 
    top: 350px; left: 160px;
}
}



@media (min-width:700px) { 
    .profile-img { 
        width: 30%;
        margin-left: 190px;
    }
}


@media (min-width:800px) { 
   .about { 
        display: flex;
        flex-direction: row;
    }

    .my-work { 
        top: 350px; left: 230px;
    }
}

@media (min-width:900px) { 
    .home-img {
        width: 100%;
    }

    .my-work { 
        top: 350px; left: 270px;
    }

    .home  { 
        position: absolute;
        top: 250px; left: 250px;
    }
}

@media (min-width:1000px) { 
    .my-work { 
        top: 350px; left: 350px;
    }
}

@media (min-width:1100px) { 
    .my-work { 
        top: 350px; left: 400px;
    }
}

@media (min-width:1200px) { 
    

    .home  { 
        position: absolute;
        top: 250px; left: 400px;
    }

    .my-work { 
        top: 400px; left: 400px;
    }
}

@media (min-width:1300px) { 
    .my-work { 
        top: 400px; left: 500px;
    }
}

@media (min-width:1400px) { 
    .my-work { 
        top: 420px; left: 550px;
    }
}

@media (min-width:1500px) { 
    .my-work { 
        top: 450px; left: 600px;
    }
}

@media (min-width:1600px) { 
    .my-work { 
        top: 450px; left: 600px;
    }
}

@media (min-width:1700px) { 
    .my-work { 
        top: 470px; left: 650px;
    }
}

@media (min-width:1800px) { 
    .my-work { 
        top: 520px; left: 700px;
    }
}


  

    